<!doctype html>
{% extends 'base.html' %} {% block content %}
{% load static%}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NuTrack - Article</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/font-awesome.min.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

</head>

<body>

    <div class="main-wrapper">

        <!-- Header Section Start -->
        <div class="header section">

            <!-- Header Main Start -->
            <div class="header-main">
                <div class="container">

                    <!-- Header Wrapper Start -->
                    <div class="header-wrapper">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            <a  href="{% url 'main:home' %}"><img src = "{% static 'assets/images/logo-nutrack-copy.png' %}" alt="Logo" ></a>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Menu Start -->
                        <div class="header-menu d-none d-lg-flex">

                            <ul class="nav-menu">
                                <li><a class="active" href="/">Home</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'calorycalc:calorycalc' %}">CaloryCalc</a></li>
                                {% else %}
                                <li><a id="myBtn" href="#">CaloryCalc</a></li>
                                <!-- The Modal -->
                                <div id="myModal" class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h3>Please log in first!</h3>
                                    </div>
                                
                                </div>
                                {% endif %}
                                <li><a href="{% url 'food_rec:show_all_food' %}">Food Recommendation</a></li>
                                <li>
                                    <a href="{% url 'article:article' %}">Articles </a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'article:write' %}">Write Article</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Dive into us!</a></li>
                                        <li><a href="{% url 'testimonies:show_testimonies' %}">Testimonial</a></li>
                                    </ul>
                                </li>
                            </ul>

                            {% if user.is_authenticated %}
                            <div class="header-btn">
                                <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:logout' %}">Bye, {{user.get_username}}!</a>
                            </div>
                            {% else %}
                            <div class="header-btn">
                                <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:register' %}">Want to join us?</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Header Menu End -->
                    
                        <!-- Header Toggle Start -->
                        {% if user.is_authenticated %}
                        <div class="header-toggle d-lg-none">

                            <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:logout' %}">Bye, {{user.get_username}}!</a>

                            <a href="#" class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        {% else %}
                        <div class="header-toggle d-lg-none">

                            <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:register' %}">Want to join us?</a>

                            <a href="#" class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        {% endif %}
                        <!-- Header Toggle End -->

                    </div>
                    <!-- Header Wrapper End -->

                </div>
            </div>
            <!-- Header Main End -->

        </div>
        <!-- Header Section End -->


        <!-- Mobile Menu Start -->
        <div class="mobile-menu">

            <!-- Menu Close Start -->
            <a class="menu-close" href="javascript:void(0)">
                <i class="icofont-close-line"></i>
            </a>
            <!-- Menu Close End -->

            <!-- Mobile Menu Start -->
            <div class="mobile-menu-items">
                <ul class="nav-menu">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li>
                        <a href="#">All Course</a>
                        <ul class="sub-menu">
                            <li><a href="courses.html">Courses</a></li>
                            <li><a href="my-courses.html">My Courses</a></li>
                            <li><a href="#">Courses Details</a>
                                <ul class="sub-menu">
                                    <li><a href="courses-details-left-sidebar.html">Courses Details Left Sidebar</a></li>
                                    <li><a href="courses-details-right-sidebar.html">Courses Details Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages </a>
                        <ul class="sub-menu">
                            <li><a href="after-enroll.html">After Enroll</a></li>
                            <li><a href="courses-admin.html">Instructor Dashboard (Course List)</a></li>
                            <li><a href="overview.html">Instructor Dashboard (Performance)</a></li>
                            <li><a href="students.html">Students</a></li>
                            <li><a href="reviews.html">Reviews</a></li>
                            <li><a href="engagement.html">Course engagement</a></li>
                            <li><a href="traffic-conversion.html">Traffic & conversion</a></li>
                            <li><a href="messages.html">Messages</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="404-error.html">404 Error</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Blog Details</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                    <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>

            </div>
            <!-- Mobile Menu End -->

        </div>
        <!-- Mobile Menu End -->

        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->


        <!-- Page banner Section Start -->
        <div class="section page-banner-section" style="background-image: url(/static/assets/images/page-banner.jpg);">
            <!-- background-image: url(/static/assets/images/page-banner.jpg); -->
            <div class="container">

                <!-- Page banner Section Start -->
                <div class="page-banner-content">
                    <h2 class="page-title">{{article_post.title}}</h2>

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'article:article' %}">Article</a></li>
                    </ul>
                </div>
                <!-- Page banner Section End -->

            </div>
        </div>
        <!-- Page banner Section End -->

        <!-- Blog Post Section Start -->
        <div class="section section-padding-02" style="padding-top: 25px;">
            <div class="container" style="padding-bottom: 80px;">

                <!-- Blog Wrapper Start -->
                <div class="blog-wrapper-02">
                    <div class="row gx-xxl-5 flex-row-reverse">
                        <div class="col-lg-8">

                            <!-- Blog Details Wrapper Start -->
                            <div class="blog-details-wrapper">
        
                                <!-- <div class="details-images">
                                    <img src="{% static 'assets/images/blog/blog-details.jpg' %}" alt="Blog Details">
                                </div> -->
        
                                <div class="blog-details-admin-meta" style="padding-top: 20px;">
                                    <div class="author">
                                        <div class="author-name" style="padding-left: 0px;">
                                            <p class="name">By: {{article_post.author}}</p>
                                        </div>
                                    </div>
                                    <div class="blog-meta">
                                        <span> <i class="icofont-calendar"></i>{{article_post.date}}</span>
                                        <span> <a href="{% url 'article:like' id %}"><i class="icofont-heart" id="heart-button"></i></a>{{article_post.like}}</span>
                                        {% if is_author %}
                                        <span><a href="{% url 'article:delete' id %}"><img src = "{% static 'assets/images/trash.png' %}" alt="Trash" width="50px" height="auto" id="trash-button"></a></span>
                                        {% endif %}
                                    </div>
                                </div>
        
        
                                <div class="blog-details-description">
                                    <p>{{article_post.article_post}}</p>
        
                                </div>
                            </div>
                            <!-- Blog Details Wrapper End -->

                            <!-- Blog Details Comment End -->
                            <div class="blog-details-comment">
                                {% if user.is_authenticated %}
                                <div class="comment-form" style="margin-top: 10px;">
                                    <h3 class="title">Leave a Comment</h3>
                                    <!-- Form Wrapper Start -->
                                    <div class="form-wrapper">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div>
                                                {{ comment_form.comment_post }}
                                            </div>
                                            <td><input type="submit" name="submit" id="post-button" value="Post" class="btn btn-light" style="padding: 0 30px; margin-top: 20px; background-color: #0a4d3c; color: white;"/></td>  
                                        </form>
                                    </div>
                                    <!-- Form Wrapper End -->
                                </div>
                                {% endif %}

                                <div class="comment-wrapper">
                                    <h3 class="title">Comments</h3>

                                    <ul class="comment-items">
                                        <li>
                                            {% for com in comments %}
                                            <!-- Single Comment Start -->
                                            <div class="single-comment" style="border-radius: 30px;" id="comment-hover">
                                                <div class="comment-author" style="border: 0px;">
                                                    <!-- <div class="author-thumb" style="border: 0px;"> -->
                                                        <!-- <img src="{% static 'assets/images/profpic.png' %}" alt="Author"> -->
                                                    <!-- </div> -->
                                                    <div class="author-content" style="padding-left: 0px;">
                                                        <h4 class="name">{{com.user.username}}</h4>
                                                    </div>
                                                </div>
                                                <p>{{com.comment_post}}</p>
                                            </div>
                                            <!-- Single Comment End -->

                                            {% endfor %}  
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!-- Blog Details Comment End -->

                        </div>
                        <div class="col-lg-4">
                            <!-- Blog Sidebar Start -->
                            <div class="sidebar">

                                <!-- Sidebar Widget Post Start -->
                                <div class="sidebar-widget" style="margin-top: 80px;">
                                    <h4 class="widget-title">Posts</h4>

                                    <div class="widget-post" id="posts-section">
                                        <ul class="post-items">

                                            {% for post in recent_post %}
                                            <li>
                                                <!-- Sidebar Widget Post Start -->
                                                <div class="single-post">
                                                    <div class="post-content" style="padding-left: 10px;">
                                                        <h5 class="title"><a href="{% url 'article:id' post.id %}">{{post.title}}</a></h5>
                                                        <span class="date"><i class="icofont-calendar"></i> {{post.date}}</span>
                                                    </div>
                                                </div>
                                                <!-- Sidebar Widget Post End -->
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <!-- Sidebar Widget Post End -->
                            </div>
                            <!-- Blog Sidebar End -->

                        </div>
                    </div>
                </div>
                <!-- Blog Wrapper End -->

            </div>
        </div>
        <!-- Blog Post Section End -->

        <!-- Footer Start -->
        <div class="section footer-section">

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="container">

                    <!-- Copyright Wrapper Start -->
                    <div class="copyright-wrapper">

                        <div class="copyright-text">
                            <p>&copy; 2022 <span> Nutrack </span> Made with <i class="icofont-heart-alt"></i> by <a href="https://github.com/nutrack" target="_blank">Kelompok F10 PTS PBP Semester Gasal, Tahun Ajaran 2022/2023</a></p>
                        </div>

                    </div>
                    <!-- Copyright Wrapper End -->

                </div>
            </div>
            <!-- Footer Copyright Section End -->

        </div>
        <!-- Footer End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>

    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/video-playlist.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ajax-contact.js' %}"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="assets/js/plugins.min.js"></script> -->


    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

<style>
    @media only screen and (max-width: 875px) {
        .container {
            margin-left: 100px;
            margin-right: 100px;
        }
    }

    @media only screen and (max-width: 835px) {
        .container {
            margin-left: 60px;
            margin-right: 60px;
        }
    }

    @media only screen and (max-width: 800px) {
        .container {
            margin-left: 60px;
            margin-right: 60px;
        }
    }

    @media only screen and (max-width: 770px) {
        .container {
            margin-left: 40px;
            margin-right: 20px;
        }
    }

    input:hover {
        background-color: #ffa300;
        color: #0a4d3c;
    }

    #heart-button:hover {
        transform: scale(1.1);
    }

    #trash-button:hover {
        transform: scale(1.1) rotate(15deg);
    }

    #comment-hover:hover {
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    }
</style>

{% endblock content %}
</html>