<!doctype html>
{% extends 'base.html' %} {% block content %}
{% load static%}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NuTrack - Write Your Article</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/font-awesome.min.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

    <!-- Ajax Implementation for Posting a New Article --> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <script>
        $(document).ready(function(){

          // GET FUNCTION
            $.get("/article/json-article/", function(data) {
                for (i=0;i<data.length;i++){
                    $("#view-article").append(`

                        <div class="col-lg-4 col-md-6" id=${data[i].pk}>

                            <div class="single-blog" id=${data[i].pk}>
                                <div class="blog">

                                    <h4 class="title"><a href="show-article/${data[i].pk}" style="margin-top: 0px;"><strong>${data[i].fields.title}</strong></a></h4>

                                    <div class="blog-date-meta">
                                        <div class="meta" style="padding-left: 0px;">
                                            <p class="author">By: <a href="#">${data[i].fields.author}</a></p>
                                            <ul>
                                                <li><i class="icofont-calendar"></i><strong>${data[i].fields.date}</strong></li>
                                                <li><i class="icofont-heart"></i>${data[i].fields.like}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    

                                    <p id="article-post">${data[i].fields.article_post}</p>

                                </div>
                            </div>
                        
                        </div>

                    `)
                }
            });
        });

    </script>
    <!-- Ajax Implementation for Posting a New Article Ends Here -->

</head>
<body>
    <div class="main-wrapper">

        <!-- Header Section Start -->
        <div class="header section">

            <!-- Header Main Start -->
            <div class="header-main">
                <div class="container">

                    <!-- Header Wrapper Start -->
                    <div class="header-wrapper">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            <a  href="{% url 'main:home' %}"><img src = "{% static 'assets/images/logo-nutrack-copy.png' %}" alt="Logo" ></a>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Menu Start -->
                        <div class="header-menu d-none d-lg-flex">

                            <ul class="nav-menu">
                                <li><a class="active" href="/">Home</a></li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'calorycalc:calorycalc' %}">CaloryCalc</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'calorycalc:calorycalc' %}">Add Calory</a></li>
                                        <li><a href="{% url 'calorycalc:histories' %}">Your Calories' History</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li><a id="myBtn" href="#">CaloryCalc</a></li>
                                <!-- The Modal -->
                                <div id="myModal" class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h3>Please log in first!</h3>
                                    </div>
                                
                                </div>
                                {% endif %}
                                <li><a href="{% url 'food_rec:show_all_food' %}">Food Recommendation</a></li>
                                <li>
                                    <a href="{% url 'article:article' %}">Articles </a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'article:write' %}">Write Article</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'main:about' %}">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'main:about' %}">Dive into us!</a></li>
                                        <li><a href="{% url 'testimonies:show_testimonies' %}">Testimonial</a></li>
                                    </ul>
                                </li>
                            </ul>

                            {% if user.is_authenticated %}
                            <div class="header-btn">
                                <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:logout' %}">Bye, {{user.get_username}}!</a>
                            </div>
                            {% else %}
                            <div class="header-btn">
                                <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:register' %}">Want to join us?</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Header Menu End -->
                    
                        <!-- Header Toggle Start -->
                        {% if user.is_authenticated %}
                        <div class="header-toggle d-lg-none">

                            <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:logout' %}">Bye, {{user.get_username}}!</a>

                            <a href="#" class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        {% else %}
                        <div class="header-toggle d-lg-none">

                            <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:register' %}">Want to join us?</a>

                            <a href="#" class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        {% endif %}
                        <!-- Header Toggle End -->

                    </div>
                    <!-- Header Wrapper End -->

                </div>
            </div>
            <!-- Header Main End -->

        </div>
        <!-- Header Section End -->


        <!-- Mobile Menu Start -->
        <div class="mobile-menu">

            <!-- Menu Close Start -->
            <a class="menu-close" href="javascript:void(0)">
                <i class="icofont-close-line"></i>
            </a>
            <!-- Menu Close End -->

            <!-- Mobile Menu Start -->
            <div class="mobile-menu-items">
                <ul class="nav-menu">
                    <li><a class="active" href="{% url 'main:home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'calorycalc:calorycalc' %}">CaloryCalc</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'calorycalc:calorycalc' %}">Add Calory</a></li>
                            <li><a href="{% url 'calorycalc:histories' %}">Your Calories' History</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a id="myBtn" href="#">CaloryCalc</a></li>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                        <span class="close">&times;</span>
                        <h3>Please log in first!</h3>
                        </div>
                    
                    </div>
                    {% endif %}
                    <li><a href="{% url 'food_rec:show_all_food' %}">Food Recommendation</a></li>
                    <li>
                        <a href="{% url 'article:article' %}">Articles </a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'article:write' %}">Write Article</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'main:about' %}">About Us</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'main:about' %}">Dive into us!</a></li>
                            <li><a href="{% url 'testimonies:show_testimonies' %}">Testimonial</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- Mobile Menu End -->

        </div>
        <!-- Mobile Menu End -->

        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->

        <!-- Slider Section Start -->
        <div class="slider-section slider-active section">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <!-- Single Slider Start -->
                    <div id="article-slider" class="swiper-slide animation-style-01 single-slider d-flex align-items-center" style="background-image: linear-gradient(-45deg, #9AB94D, white, #F7E255);">
                        <!-- image: url(/static/assets/images/slider/slider-1.jpg) -->
                        <div class="container" id="title-container-slider">

                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h6 class="sub-title">Blog Post</h6>
                                <h1 class="main-title">Read More About The Latest Article of Nutrition</h1>
                                <p>Write Your Own Article Here</p>
                                <a href="{% url 'article:write' %}" class="btn btn-primary btn-hover-secondary" id="start-write-button">Start Writing</a>
                            </div>
                            <!-- Slider Content End -->

                        </div>
                    </div>
                    <!-- Single Slider End -->

                </div>
            </div>
        </div>
        <!-- Slider Section End -->

        <!-- Blog Section End -->
        <div class="section section-padding-02">
            <div class="container">

                <!-- Blog Wrapper Start -->
                <div class="blog-wrapper-02">
                    
                    <div class="row gx-xxl-5" id="view-article"></div>
                </div>
                <!-- Blog Wrapper End -->

            </div>
        </div>
        <!-- Blog Section End -->.

        <!-- Footer Start -->
        <div class="section footer-section">

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="container">

                    <!-- Copyright Wrapper Start -->
                    <div class="copyright-wrapper">

                        <div class="copyright-text">
                            <p>&copy; 2022 <span> Nutrack </span> Made with <i class="icofont-heart-alt"></i> by <a href="https://github.com/nutrack" target="_blank">Kelompok F10 PTS PBP Semester Gasal, Tahun Ajaran 2022/2023</a></p>
                        </div>

                    </div>
                    <!-- Copyright Wrapper End -->

                </div>
            </div>
            <!-- Footer Copyright Section End -->

        </div>
        <!-- Footer End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>

    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/video-playlist.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ajax-contact.js' %}"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="assets/js/plugins.min.js"></script> -->


    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

<style>
    .single-blog {
        margin-top: 0px;
        margin-bottom: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 375px;
        /* border-radius: 20px; */
    }

    .single-blog:hover {
        box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
    }

    #start-write-button:hover {
        background-color: #9AB94D;
        box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .author {
        margin-top: 10px;
    }

    #article-post {
        width: 290px;
        height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media only screen and (max-width: 1199px) {
        #article-post {
            width: 200px;
            height: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    @media only screen and (max-width: 767px) {
        .single-blog {
            width: 400px;
            padding: 45px;
            margin-top: 30px;
        }

        #article-post {
            width: 300px;
            height: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* #article-slider {
            background-color: white;
            padding-bottom: 0px;
            padding-top: 100px;
        } */

        .slider-content {
            margin-top: 100px;
            margin-bottom: 50px;
        }

        #title-container-slider {
            margin-left: 100px;
        }
    }

    #article-slider {
        padding-bottom: 0px;
        padding-top: 0px;
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

</style>
{% endblock content %}
</html>