<!doctype html>
{% extends 'base.html' %} {% block content %}
{% load static%}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NuTrack - Write Your Article</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/font-awesome.min.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

    <!-- Ajax Implementation for Posting a New Article --> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <script>
        $(document).ready(function(){

          // GET FUNCTION
            $.get("/article/json-article/", function(data) {
                for (i=0;i<data.length;i++){
                    $("#view-article").append(`

                        <div class="col-lg-4" id=${data[i].pk}>

                            <div class="single-blog" id=${data[i].pk} style="margin-top: 0px; padding-top: 0px; padding-bottom: 0px; margin-bottom: 30px; height: 375px;">
                                <div class="blog">

                                    <h4 class="title"><a href="show-article/${data[i].pk}" style="margin-top: 0px;"><strong>${data[i].fields.title}</strong></a></h4>

                                    <div class="blog-date-meta">
                                        <div class="meta" style="padding-left: 0px;">
                                            <p class="author" style="margin-top: 10px;">By: <a href="#">${data[i].fields.author}</a></p>
                                            <ul>
                                                <li><i class="icofont-calendar"></i><strong>${data[i].fields.date}</strong></li>
                                                <li><i class="icofont-heart"></i>${data[i].fields.like}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    

                                    <p style="width: 290px; height: 150px; overflow: hidden; text-overflow: ellipsis;">${data[i].fields.article_post}</p>

                                </div>
                            </div>
                        
                        </div>

                    `)
                }
            });
        });

    </script>
    <!-- Ajax Implementation for Posting a New Article Ends Here -->

</head>
<body>
    <div class="main-wrapper">

        <!-- Header Section Start -->
        <div class="header section">

            <!-- Header Main Start -->
            <div class="header-main">
                <div class="container">

                    <!-- Header Wrapper Start -->
                    <div class="header-wrapper">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            <a  href="{% url 'main:home' %}"><img src = "{% static 'assets/images/logo-nutrack.png' %}" alt="Logo" ></a>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Menu Start -->
                        <div class="header-menu d-none d-lg-flex">

                            <ul class="nav-menu">
                                <li><a class="active" href="/">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li>
                                    <a href="#">All Course</a>
                                    <ul class="sub-menu">
                                        <li><a href="courses.html">Courses</a></li>
                                        <li><a href="my-courses.html">My Courses</a></li>
                                        <li><a href="#">Courses Details</a>
                                            <ul class="sub-menu">
                                                <li><a href="courses-details-left-sidebar.html">Courses Details Left Sidebar</a></li>
                                                <li><a href="courses-details-right-sidebar.html">Courses Details Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages </a>
                                    <ul class="sub-menu">
                                        <li><a href="after-enroll.html">After Enroll</a></li>
                                        <li><a href="courses-admin.html">Instructor Dashboard (Course List)</a></li>
                                        <li><a href="overview.html">Instructor Dashboard (Performance)</a></li>
                                        <li><a href="students.html">Students</a></li>
                                        <li><a href="reviews.html">Reviews</a></li>
                                        <li><a href="engagement.html">Course engagement</a></li>
                                        <li><a href="traffic-conversion.html">Traffic & conversion</a></li>
                                        <li><a href="messages.html">Messages</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="404-error.html">404 Error</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Blog Details</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                                <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>


                            <div class="header-btn">
                                <a class="btn btn-secondary btn-hover-primary" href="login.html">Sign Up</a>
                            </div>

                        </div>
                        <!-- Header Menu End -->

                        <!-- Header Toggle Start -->
                        <div class="header-toggle d-lg-none">

                            <a class="btn btn-secondary btn-hover-primary" href="login.html">Sign Up</a>

                            <a href="#" class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        <!-- Header Toggle End -->

                    </div>
                    <!-- Header Wrapper End -->

                </div>
            </div>
            <!-- Header Main End -->

        </div>
        <!-- Header Section End -->


        <!-- Mobile Menu Start -->
        <div class="mobile-menu">

            <!-- Menu Close Start -->
            <a class="menu-close" href="javascript:void(0)">
                <i class="icofont-close-line"></i>
            </a>
            <!-- Menu Close End -->

            <!-- Mobile Menu Start -->
            <div class="mobile-menu-items">
                <ul class="nav-menu">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li>
                        <a href="#">All Course</a>
                        <ul class="sub-menu">
                            <li><a href="courses.html">Courses</a></li>
                            <li><a href="my-courses.html">My Courses</a></li>
                            <li><a href="#">Courses Details</a>
                                <ul class="sub-menu">
                                    <li><a href="courses-details-left-sidebar.html">Courses Details Left Sidebar</a></li>
                                    <li><a href="courses-details-right-sidebar.html">Courses Details Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages </a>
                        <ul class="sub-menu">
                            <li><a href="after-enroll.html">After Enroll</a></li>
                            <li><a href="courses-admin.html">Instructor Dashboard (Course List)</a></li>
                            <li><a href="overview.html">Instructor Dashboard (Performance)</a></li>
                            <li><a href="students.html">Students</a></li>
                            <li><a href="reviews.html">Reviews</a></li>
                            <li><a href="engagement.html">Course engagement</a></li>
                            <li><a href="traffic-conversion.html">Traffic & conversion</a></li>
                            <li><a href="messages.html">Messages</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="404-error.html">404 Error</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Blog Details</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                    <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>

            </div>
            <!-- Mobile Menu End -->

        </div>
        <!-- Mobile Menu End -->

        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->

        <!-- Slider Section Start -->
        <div class="slider-section slider-active section">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <!-- Single Slider Start -->
                    <div class="swiper-slide animation-style-01 single-slider d-flex align-items-center" style="background-color: white; padding-bottom: 0px; padding-top: 0px; height: 650px;">
                        <div class="container">

                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h6 class="sub-title">Blog Post</h6>
                                <h1 class="main-title">Read More About The Latest Article of Nutrition</h1>
                                <p>Write Your Own Article Here</p>
                                <a href="{% url 'article:write' %}" class="btn btn-primary btn-hover-secondary">Start Writing</a>
                            </div>
                            <!-- Slider Content End -->

                        </div>
                    </div>
                    <!-- Single Slider End -->

                </div>
            </div>
        </div>
        <!-- Slider Section End -->

        <!-- Blog Section End -->
        <div class="section section-padding-02" style="padding-top: 0px;">
            <div class="container">

                <!-- Blog Wrapper Start -->
                <div class="blog-wrapper" style="padding-top: 0px;">
                    <div class="row gx-xxl-5" id="view-article">
                    </div>
                </div>
                <!-- Blog Wrapper End -->

            </div>
        </div>
        <!-- Blog Section End -->.

        <!-- Footer Start -->
        <div class="section footer-section">

            <!-- Footer Widget Section Start -->
            <div class="footer-widget-section section-padding">

                <img class="shape-01 animation-rotate" src="assets/images/shape/shape-9.png" alt="Shape">

                <div class="container">

                    <!-- Footer Widget Wrapper Start -->
                    <div class="footer-widget-wrapper">
                        <div class="row">
                            <div class="col-lg-4">

                                <!-- Footer Widget Start -->
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">Subscribe Newsletter</h3>

                                    <div class="widget-newsletter">
                                        <p>Lorem Ipsum has been them an industry printer took a galley make book.</p>

                                        <div class="newsletter-form">
                                            <form action="#">
                                                <input type="text" placeholder="Enter email">
                                                <button class="btn btn-primary btn-hover-white">Subscribe Now</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Footer Widget End -->

                            </div>
                            <div class="col-lg-8">

                                <!-- Footer Widget Start -->
                                <div class="widget-wrapper">

                                    <!-- Footer Widget Start -->
                                    <div class="footer-widget">
                                        <h3 class="footer-widget-title">All Courses</h3>

                                        <ul class="widget-link">
                                            <li><a href="#">Daily Exercise</a></li>
                                            <li><a href="#">Find Your Balance</a></li>
                                            <li><a href="#">Personal Program</a></li>
                                            <li><a href="#">Natural Process</a></li>
                                            <li><a href="#">Immune System</a></li>
                                            <li><a href="#">Gives You Energy</a></li>
                                        </ul>
                                    </div>
                                    <!-- Footer Widget End -->

                                    <!-- Footer Widget Start -->
                                    <div class="footer-widget">
                                        <h3 class="footer-widget-title">Help Links</h3>

                                        <ul class="widget-link">
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Discussion</a></li>
                                            <li><a href="#">Terms & Conditions</a></li>
                                            <li><a href="#">Customer Support</a></li>
                                            <li><a href="#">Course FAQ’s</a></li>
                                            <li><a href="#">Online Classes</a></li>
                                        </ul>
                                    </div>
                                    <!-- Footer Widget End -->

                                    <!-- Footer Widget Start -->
                                    <div class="footer-widget">
                                        <h3 class="footer-widget-title">Opening Hours</h3>

                                        <ul class="widget-link">
                                            <li><a href="#">Mon-Fri: 9 AM – 6 PM</a></li>
                                            <li><a href="#">Saturday: 9 AM – 4 PM</a></li>
                                            <li><a href="#">Sunday: Closed</a></li>
                                        </ul>

                                        <div class="widget-location">
                                            <h3 class="footer-widget-title">Location</h3>

                                            <p>176 W street name, New <br> York, NY 10014</p>
                                        </div>
                                    </div>
                                    <!-- Footer Widget End -->

                                </div>
                                <!-- Footer Widget End -->

                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Wrapper End -->

                </div>

                <img class="shape-02 animation-rotate" src="assets/images/shape/shape-9.png" alt="Shape">

            </div>
            <!-- Footer Widget Section End -->

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="container">

                    <!-- Copyright Wrapper Start -->
                    <div class="copyright-wrapper">

                        <div class="copyright-text">
                            <p>&copy; 2021 <span> Nutras </span> Made with <i class="icofont-heart-alt"></i> by <a href="https://hasthemes.com/" target="_blank">HasThemes</a></p>
                        </div>

                        <div class="copyright-link">
                            <a href="#">Terms of Service</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Sitemap</a>
                            <a href="#">Security</a>
                        </div>

                    </div>
                    <!-- Copyright Wrapper End -->

                </div>
            </div>
            <!-- Footer Copyright Section End -->

        </div>
        <!-- Footer End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>

    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/video-playlist.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ajax-contact.js' %}"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="assets/js/plugins.min.js"></script> -->


    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>
{% endblock content %}
</html>