<!DOCTYPE html>
{% extends 'base.html' %} 
{% block content %}
{% load static%}
<html>
    <head>
        <title>Calorycalc</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <script>

function isikonten(calory,date,id) {
      $("#tabel-kalori").html(`
      <h3>Calory yang didapatkan hari ini: ${calory} Calory</h3>
      `)
      $(".historydrop").append(`
    <li><a class="dropdown-item" href="/calorycalc/history/${id}">${date}:${calory} Calory</a></li>
    `)
    }
    

    function time(){
    var now = new Date();
    var h = now.getHours();
    var m = now.getMinutes();
    var s = now.getSeconds();
    if(h==0 && s==0){
        location.reload();
    }
        $("#introduction_time").html(`
        <h3>${now}</h3>
        `)
        setTimeout(time,1000);
    }

$(document).ready(function() {
      time()
      var jumlahkalori=0;
      console.log(112);
      $.get("{% url 'calorycalc:show_calory_json' %}", function(calory) {
        console.log(calory);   
        if(calory.length==0){
            isikonten(0)
        }else{
        for (const info of calory) {
            jumlahkalori+=info["calory"];
            isikonten(jumlahkalori,info["date"],info["id"])
        }
    }
      }, "json")

      $("form").submit(function(event) {
        event.preventDefault()
        var form = {
          calory: $("#calory").val(),
          date: $("#date").val(),
          id: $("#id").val(),
          csrfmiddlewaretoken: "{{ csrf_token }}",
        } 
        $.post("{% url 'calorycalc:add_calory' %}", form, function(info) {
            jumlahkalori+=info["calory"];
            document.getElementById("calory").value="";
            isikonten(jumlahkalori,info["date"],info["id"])
        }, "json")
      })
    })
        </script>
    </head>
    <body>
        <div id="introduction">
            <h3>Welcome, {{request.user.username.title }}</h3>
            <div id="introduction_time">

            </div>
        </div>
        <div id="tabel-kalori">
        </div>
        <div id="form_submit"> 
            <form method="POST" action="">
                {% csrf_token %}
                <table>
                    <h3>Calory yang didapat: </h3>
                    <input type="number" id="calory" name="calory" placeholder="220" class="form-control">   
                    <br>
                </table>
                    <input class="btn btn-dark" data-bs-dismiss="modal" type="submit" value="Tambah">
            </form>
        </div> 

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              History 
            </button>
            <ul class="dropdown-menu historydrop">
            </ul>
          </div>

    </body>
</html>
{% endblock content %}