<!doctype html>
{% extends 'base.html' %} {% block content %}
{% load static%}
<html class="no-js" lang="en">

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        important: true,
      };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
    $(document).ready(function () {
      const card = (data) => `
      <div id='${data.pk}-card'
      class="single-courses">
        <div class="courses-content">
            <div class="courses-price">
                <span class="price">
                  ${
                    data.fields.is_food
                  ? 
                  `<i class="icofont-spoon-and-fork" style="font-size: 2em;"></i>`
                  : 
                  `<i class="icofont-soft-drinks" style="font-size: 2em;"></i>`
                  }
                </span>
            </div>
            <div style="padding-left: 10px;">
                <h4 class="title"><a href="courses-details-left-sidebar.html">${data.fields.name}</a></h4>
                <ul class="meta">
                    <li>
                    <span class="fa fa-star checked"></span>
                    <span>${data.fields.rating}</span>
                    </li>
                <li><b>${data.fields.calories} Calories</b></li>
                </ul>
            </div>
        </div>
    </div>
    ` ;
    const addCard = (data) => {
        return $('#food-view').append(card(data))
      }

    $.get('/food_rec/json', function (todo) {
        todo.map((task) => {
          addCard(task)
          removeCard(task)
        })
      })

    $('#add-food-button').click(function () {
          $.post("{% url 'food_rec:add_food_ajax' %}"(
            '/food_rec/add/',
            {
                name: $('#name').val(),
                calories: $('#calories').val(),
                protein: $('#protein').val(),
                fat: $('#fat').val(),
                carbs: $('#carbs').val(),
            },
            function (res, status) {
              if (status == 'success') {
                addCard(res)
                $('#name').val('')
                $('#calories').val('')
                $('#protein').val('')
                $('#fat').val('')
                $('#carbs').val('')
                removeCard(res)
              }
            },
          );
      });
    });
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Food Recommendation</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- CSS ============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/font-awesome.min.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

</head>
<body>

    <div class="main-wrapper">

        <!-- Header Section Start -->
        <div class="header section">

            <!-- Header Main Start -->
            <div class="header-main">
                <div class="container">

                    <!-- Header Wrapper Start -->
                    <div class="header-wrapper">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            <a  href="{% url 'main:home' %}"><img src = "{% static 'assets/images/logo-nutrack-copy.png' %}" alt="Logo" ></a>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Menu Start -->
                        <div class="header-menu d-none d-lg-flex">

                            <ul class="nav-menu">
                                <li><a class="active" href="/">Home</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'calorycalc:calorycalc' %}">CaloryCalc</a></li>
                                {% else %}
                                <li><a id="myBtn" href="#">CaloryCalc</a></li>
                                <!-- The Modal -->
                                <div id="myModal" class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h3>Please log in first!</h3>
                                    </div>
                                
                                </div>
                                {% endif %}
                                <li><a href="{% url 'food_rec:show_all_food' %}">Food Recommendation</a></li>
                                <li>
                                    <a href="{% url 'article:article' %}">Articles </a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'article:write' %}">Write Article</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Dive into us!</a></li>
                                        <li><a href="{% url 'testimonies:show_testimonies' %}">Testimonial</a></li>
                                    </ul>
                                </li>
                            </ul>

                            {% if user.is_authenticated %}
                            <div class="header-btn">
                                <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:logout' %}">Bye, {{user.get_username}}!</a>
                            </div>
                            {% else %}
                            <div class="header-btn">
                                <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:register' %}">Want to join us?</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Header Menu End -->
                    
                        <!-- Header Toggle Start -->
                        {% if user.is_authenticated %}
                        <div class="header-toggle d-lg-none">

                            <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:logout' %}">Bye, {{user.get_username}}!</a>

                            <a href="#" class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        {% else %}
                        <div class="header-toggle d-lg-none">

                            <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:register' %}">Want to join us?</a>

                            <a href="#" class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        {% endif %}
                        <!-- Header Toggle End -->

                    </div>
                    <!-- Header Wrapper End -->

                </div>
            </div>
            <!-- Header Main End -->

        </div>
        <!-- Header Section End -->


        <!-- Mobile Menu Start -->
        <div class="mobile-menu">

            <!-- Menu Close Start -->
            <a class="menu-close" href="javascript:void(0)">
                <i class="icofont-close-line"></i>
            </a>
            <!-- Menu Close End -->

            <!-- Mobile Menu Start -->
            <div class="mobile-menu-items">
                <ul class="nav-menu">
                    <li><a class="active" href="{% url 'main:home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'calorycalc:calorycalc' %}">CaloryCalc</a></li>
                    {% else %}
                    <li><a id="myBtn" href="#">CaloryCalc</a></li>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                        <span class="close">&times;</span>
                        <h3>Please log in first!</h3>
                        </div>
                    
                    </div>
                    {% endif %}
                    <li>
                        <a href="#">Food Recommendation</a>
                        <ul class="sub-menu">
                            <li><a href="courses.html">Courses</a></li>
                            <li><a href="my-courses.html">My Courses</a></li>
                            <li><a href="#">Courses Details</a>
                                <ul class="sub-menu">
                                    <li><a href="courses-details-left-sidebar.html">Courses Details Left Sidebar</a></li>
                                    <li><a href="courses-details-right-sidebar.html">Courses Details Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Articles </a>
                        <ul class="sub-menu">
                            <li><a href="after-enroll.html">After Enroll</a></li>
                            <li><a href="courses-admin.html">Instructor Dashboard (Course List)</a></li>
                            <li><a href="overview.html">Instructor Dashboard (Performance)</a></li>
                            <li><a href="students.html">Students</a></li>
                            <li><a href="reviews.html">Reviews</a></li>
                            <li><a href="engagement.html">Course engagement</a></li>
                            <li><a href="traffic-conversion.html">Traffic & conversion</a></li>
                            <li><a href="messages.html">Messages</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="404-error.html">404 Error</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Dive into us!</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Testimonial</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                    <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- Mobile Menu End -->

        </div>
        <!-- Mobile Menu End -->

        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->


        <!-- Page banner Section Start -->
        <div class="section page-banner-section">
            <div class="container d-flex justify-content-center">

                <!-- Page banner Section Start -->
                <div class="page-banner-content">
                    <h2 class="page-title ">Rekomendasi</h2>
                </div>
                <!-- Page banner Section End -->

            </div>
        </div>
        <!-- Page banner Section End -->

        <!-- Courses Section Start -->
        <div class="section section-padding-02">
            <div class="container">
        <nav class="nav nav-pills flex-column flex-sm-row mb-4">
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">All</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">My Recommendation</a>
        </nav>
                <!-- Courses Search bar Start -->
                <div class="courses-search-bar">
                    
                    <!-- Courses Select Start -->
                    <div class="courses-select align-self-center">
                        <select data-display="Sort by">
                            <option data-display="Sort by">Sort by</option>
                            <option value="1">Rating</option>
                            <option value="2">Name</option>
                        </select>
                    </div>
                    <!-- Courses Select End -->

                    <!-- Courses Search Start -->
                    <div class="courses-search">
                        <form action="#">
                            <input id="myInput" type="text" placeholder="Search here">
                            <button><i class="icofont-search"></i></button>
                        </form>
                    </div>
                    <!-- Courses Search End -->

                </div>
                <!-- Courses Search bar End -->

                <!-- Courses Wrapper End -->
                <div class="courses-wrapper-02">
                    <button
                        class="btn btn-primary btn-hover-white"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                    >
                        Tambah Rekomendasi
                    </button>
                    <div class="row gx-xxl-5" id="food-view">
                    </div>
                </div>
                <!-- Courses Wrapper End -->

                <!-- Page Pagination End -->
                {% comment %} <div class="page-pagination">
                    <ul class="pagination justify-content-center">
                        <li><a href="#"><i class="icofont-rounded-left"></i></a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
                    </ul>
                </div> {% endcomment %}
                <!-- Page Pagination End -->

            </div>
        </div>
        <!-- Courses Section End -->

        <!-- Download Section Start -->
        <div class="section section-padding">
            <div class="container">

                <!-- Download Wrapper Start -->
                <div class="download-wrapper">

                    <img class="shape-01" src="{% static 'assets/images/shape/shape-7.png' %}" alt="Shape">
                    <img class="shape-02" src="{% static 'assets/images/shape/shape-8.png' %}" alt="Shape">

                    <!-- Section Title Start -->
                    <div class="section-title shape-none">
                        <h6 class="sub-title">mobile app available</h6>
                        <h2 class="main-title">Download our mobile <br> app. and start coaching anytime.</h2>
                    </div>
                    <!-- Section Title End -->

                    <!-- download App End -->
                    <div class="download-app">
                        <ul>
                            <li><a href="#"><img src="{% static 'assets/images/play-store.jpg' %}" alt="Play Store"></a></li>
                            <li><a href="#"><img src="{% static 'assets/images/app-store.jpg' %}" alt="App Store"></a></li>
                        </ul>
                    </div>
                    <!-- download App End -->

                </div>
                <!-- Download Wrapper End -->

            </div>
        </div>
        <!-- Download Section End -->

        <!-- Footer Start -->
        <div class="section footer-section">

            <!-- Footer Widget Section Start -->
            <div class="footer-widget-section section-padding">

                <img class="shape-01 animation-rotate" src="{% static 'assets/images/shape/shape-9.png' %}" alt="Shape">

                <div class="container">

                    <!-- Footer Widget Wrapper Start -->
                    <div class="footer-widget-wrapper">
                        <div class="row">
                            <div class="col-lg-4">

                                <!-- Footer Widget Start -->
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">Subscribe Newsletter</h3>

                                    <div class="widget-newsletter">
                                        <p>Lorem Ipsum has been them an industry printer took a galley make book.</p>

                                        <div class="newsletter-form">
                                            <form action="#">
                                                <input type="text" placeholder="Enter email">
                                                <button class="btn btn-primary btn-hover-white">Subscribe Now</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Footer Widget End -->

                            </div>
                            <div class="col-lg-8">

                                <!-- Footer Widget Start -->
                                <div class="widget-wrapper">

                                    <!-- Footer Widget Start -->
                                    <div class="footer-widget">
                                        <h3 class="footer-widget-title">All Courses</h3>

                                        <ul class="widget-link">
                                            <li><a href="#">Daily Exercise</a></li>
                                            <li><a href="#">Find Your Balance</a></li>
                                            <li><a href="#">Personal Program</a></li>
                                            <li><a href="#">Natural Process</a></li>
                                            <li><a href="#">Immune System</a></li>
                                            <li><a href="#">Gives You Energy</a></li>
                                        </ul>
                                    </div>
                                    <!-- Footer Widget End -->

                                    <!-- Footer Widget Start -->
                                    <div class="footer-widget">
                                        <h3 class="footer-widget-title">Help Links</h3>

                                        <ul class="widget-link">
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Discussion</a></li>
                                            <li><a href="#">Terms & Conditions</a></li>
                                            <li><a href="#">Customer Support</a></li>
                                            <li><a href="#">Course FAQ’s</a></li>
                                            <li><a href="#">Online Classes</a></li>
                                        </ul>
                                    </div>
                                    <!-- Footer Widget End -->

                                    <!-- Footer Widget Start -->
                                    <div class="footer-widget">
                                        <h3 class="footer-widget-title">Opening Hours</h3>

                                        <ul class="widget-link">
                                            <li><a href="#">Mon-Fri: 9 AM – 6 PM</a></li>
                                            <li><a href="#">Saturday: 9 AM – 4 PM</a></li>
                                            <li><a href="#">Sunday: Closed</a></li>
                                        </ul>

                                        <div class="widget-location">
                                            <h3 class="footer-widget-title">Location</h3>

                                            <p>176 W street name, New <br> York, NY 10014</p>
                                        </div>
                                    </div>
                                    <!-- Footer Widget End -->

                                </div>
                                <!-- Footer Widget End -->

                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Wrapper End -->

                </div>

                <img class="shape-02 animation-rotate" src="{% static 'assets/images/shape/shape-9.png' %}" alt="Shape">

            </div>
            <!-- Footer Widget Section End -->

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="container">

                    <!-- Copyright Wrapper Start -->
                    <div class="copyright-wrapper">

                        <div class="copyright-text">
                            <p>&copy; 2021 <span> Nutras </span> Made with <i class="icofont-heart-alt"></i> by <a href="https://hasthemes.com/" target="_blank">HasThemes</a></p>
                        </div>

                        <div class="copyright-link">
                            <a href="#">Terms of Service</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Sitemap</a>
                            <a href="#">Security</a>
                        </div>

                    </div>
                    <!-- Copyright Wrapper End -->

                </div>
            </div>
            <!-- Footer Copyright Section End -->

        </div>
        <!-- Footer End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>

    <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-zinc-800" id="exampleModalLabel">
            Tambah Rekomendasi
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="flex justify-center">
            <div class="lg:w-64 mt-3">
              <form method="POST" action="">
                {% csrf_token %}
                <label class="block">
                  <span
                    class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-800"
                  >
                    Nama hidangan
                  </span>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class=""
                    placeholder="Nama hidangan"
                    required
                  />
                </label>

                <label class="block mt-2">
                  <span
                    class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-800"
                  >
                    Kalori
                  </span>
                  <input
                    type="number"
                    name="calories"
                    id="calories"
					class=""
                    placeholder="Calories"
                    required
                  />
                </label>

                <label class="block mt-2">
                  <span
                    class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-800"
                  >
                    Protein
                  </span>
                  <input
                    type="number"
                    name="protein"
                    id="protein"
					class=""
                    placeholder="Protein"
                    required
                  />
                </label>

                <label class="block mt-2">
                  <span
                    class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-800"
                  >
                    Lemak
                  </span>
                  <input
                    type="number"
                    name="fat"
                    id="fat"
					class=""
                    placeholder="Fat"
                    required
                  />
                </label>

                <label class="block mt-2">
                  <span
                    class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-800"
                  >
                    Karbohidrat
                  </span>
                  <input
                    type="number"
                    name="carbs"
                    id="carbs"
					class=""
                    placeholder="Carbs"
                    required
                  />
                </label>

                <label class="block mt-2">
                  <span
                    class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-800"
                  >
                    Jenis
                  </span><br>
                  <div class="d-flex flex-row mt-2 gap-2 text-zinc-800">
                    <input
                        type="radio"
                        name="is_food"
                        id="food"
                        class=""
                        value="1"
                        required
                    />
                    <label for="food">Makanan</label><br>
                    <input
                        type="radio"
                        name="is_food"
                        id="drink"
                        class=""
                        value="0"
                        required
                    />
                    <label for="drink">Minuman</label><br>
                    </div>
                </label>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>

          <button
            id="add-food-button"
            type="button"
            class="btn btn-primary btn-hover-white"
            data-bs-dismiss="modal"
          >
            Tambah Rekomendasi
          </button>
        </div>
      </div>
    </div>
  </div>

    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/video-playlist.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ajax-contact.js' %}"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="{% static 'assets/js/plugins.min.js"></script> -->


    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>
{% endblock content %}
</html>