{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Nutrack</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="nutrashtml-10/nutras/assets/images/favicon.ico">

  <!-- CSS
============================================ -->

  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/plugins/icofont.min.css">
  <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/plugins/flaticon.css">
  <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/plugins/font-awesome.min.css">

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/plugins/animate.min.css">
  <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/plugins/swiper-bundle.min.css">
  <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/plugins/magnific-popup.css">
  <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/plugins/nice-select.css">

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/style.css">


  <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
  <!-- <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/vendor/plugins.min.css">
  <link rel="stylesheet" href="nutrashtml-10/nutras/assets/css/style.min.css"> -->

  <!-- jQuery  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  {% block content %}
  {% endblock content %}
</body>

</html>