<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td><h6>Title: </h6></td>
                <td><input type="text" name="title" placeholder="" class="form-control"></td>
            </tr>
            <tr>
                <td><h6>Testimony: </h6></td>
                <td><input type="text" name="testimony" placeholder="" class="form-control"></td>
            </tr>
            <tr>
                <td colspan="2"><input class="btn create-task-btn btn-secondary" type="submit" value="Buat Task"></td>
            </tr>
        </table>
    </form>
</body>
</html>