<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
          <th>Username</th>
          <th>Title</th>
          <th>Description</th>
        </tr>
        {% comment %} Add the data below this line {% endcomment %}
        {% for testimony in data %}
          <tr>
            <th>{{testimony.username}}</th>
            <th>{{testimony.title}}</th>
            <th>{{testimony.desc}}</th>
          </tr>
        {% endfor %}
      </table>
</body>
</html>