<!doctype html>
{% extends 'base.html' %} {% block content %}
{% load static%}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nutrack</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/font-awesome.min.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">

    <!-- Main and Modal Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/modal.css' %}">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->
    <style>
        #btn-add:hover, #btn-hist:hover, #btn-sign:hover{
            background-color: #0a4d3c;
            border-color: #0a4d3c;
            color: #fff;
        }
        .btn-cal{
            text-align: center;
        }
        
        @media only screen and (max-width: 575px) {
            .main-wrapper{
                width: 45%;
            }
            .main-title{
                margin-right: 100px;
            }

        }

        
    </style>

</head>
<body>

    <div class="main-wrapper">

        <!-- Header Section Start -->
        <div class="header section">

            <!-- Header Main Start -->
            <div class="header-main">
                <div class="container">

                    <!-- Header Wrapper Start -->
                    <div class="header-wrapper">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            <a  href="{% url 'main:home' %}"><img src = "{% static 'assets/images/logo-nutrack-copy.png' %}" alt="Logo" ></a>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Menu Start -->
                        <div class="header-menu d-none d-lg-flex">

                            <ul class="nav-menu">
                                <li><a class="active" href="/">Home</a></li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'calorycalc:calorycalc' %}">CaloryCalc</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'calorycalc:calorycalc' %}">Add Calory</a></li>
                                        <li><a href="{% url 'calorycalc:histories' %}">Your Calories' History</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li><a id="myBtn" href="#">CaloryCalc</a></li>
                                <!-- The Modal -->
                                <div id="myModal" class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h3>Please log in first!</h3>
                                    </div>
                                
                                </div>
                                {% endif %}
                                <li><a href="{% url 'food_rec:show_all_food' %}">Food Recommendation</a></li>
                                <li>
                                    <a href="{% url 'article:article' %}">Articles </a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'article:write' %}">Write Article</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'main:about' %}">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'main:about' %}">Dive into us!</a></li>
                                        <li><a href="{% url 'testimonies:show_testimonies' %}">Testimonial</a></li>
                                    </ul>
                                </li>
                            </ul>

                            {% if user.is_authenticated %}
                            <div class="header-btn">
                                <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:logout' %}">Bye, {{user.get_username}}!</a>
                            </div>
                            {% else %}
                            <div class="header-btn">
                                <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:register' %}">Want to join us?</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Header Menu End -->
                    
                        <!-- Header Toggle Start -->
                        {% if user.is_authenticated %}
                        <div class="header-toggle d-lg-none">

                            <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:logout' %}">Bye, {{user.get_username}}!</a>

                            <a href="#" class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        {% else %}
                        <div class="header-toggle d-lg-none">

                            <a class="btn btn-secondary btn-hover-primary" href="{% url 'main:register' %}">Want to join us?</a>

                            <a href="#" class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        {% endif %}
                        <!-- Header Toggle End -->

                    </div>
                    <!-- Header Wrapper End -->

                </div>
            </div>
            <!-- Header Main End -->

        </div>
        <!-- Header Section End -->


        <!-- Mobile Menu Start -->
        <div class="mobile-menu">

            <!-- Menu Close Start -->
            <a class="menu-close" href="javascript:void(0)">
                <i class="icofont-close-line"></i>
            </a>
            <!-- Menu Close End -->

            <!-- Mobile Menu Start -->
            <div class="mobile-menu-items">
                <ul class="nav-menu">
                    <li><a class="active" href="{% url 'main:home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'calorycalc:calorycalc' %}">CaloryCalc</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'calorycalc:calorycalc' %}">Add Calory</a></li>
                            <li><a href="{% url 'calorycalc:histories' %}">Your Calories' History</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a id="myBtn" href="#">CaloryCalc</a></li>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                        <span class="close">&times;</span>
                        <h3>Please log in first!</h3>
                        </div>
                    
                    </div>
                    {% endif %}
                    <li><a href="{% url 'food_rec:show_all_food' %}">Food Recommendation</a></li>
                    <li>
                        <a href="{% url 'article:article' %}">Articles </a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'article:write' %}">Write Article</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'main:about' %}">About Us</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'main:about' %}">Dive into us!</a></li>
                            <li><a href="{% url 'testimonies:show_testimonies' %}">Testimonial</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- Mobile Menu End -->

        </div>
        <!-- Mobile Menu End -->

        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->



        <!-- Slider Section Start -->
        {% if user.is_authenticated %}
        <div id ="cal-dash" class="section section-padding overflow-hidden" style="background-color: darkgreen">
            <!-- Slider Content Start -->
            <div class="testimonial-wrapper">
                <div class="section-title section-title-white">
                    <h1 class="main-title">CaloryCalc</h1>
                </div>
                <div class="section-title shape-none">
                    <h6 class="sub-title" style="color: orange">Today's calories</h6>
                    <h3 class="main-title" style="color: white;" id="get-cal"></h3>
                </div>
                <div class="btn-cal" style="padding-top: 20px;">
                    <a href="{% url 'calorycalc:calorycalc' %}" class="btn btn-primary btn-hover-secondary" id="btn-add">Add Calory</a>
                    <a href="{% url 'calorycalc:histories' %}" class="btn btn-primary btn-hover-secondary" id="btn-hist">See Your Calories' History</a>
                </div>
            </div>
            <!-- Slider Content End -->
        </div>
        {% else %}
        <div id="slide-quotes" class="slider-section slider-active section">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Single Slider Start -->
                    <div class="swiper-slide animation-style-01 single-slider d-flex align-items-center" style="background-image: url(/static/assets/images/slider/slider-1.jpg);">
                        <div class="container">

                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h1 class="main-title">Let thy food be thy medicine</h1>
                                <p>━ Hippocrates</p>
                                <a id="btn-sign" href="{% url 'main:register' %}" class="btn btn-primary btn-hover-secondary">Sign Up</a>
                            </div>
                            <!-- Slider Content End -->

                        </div>
                    </div>
                    <!-- Single Slider End -->

                    <!-- Single Slider Start -->
                    <div class="swiper-slide animation-style-01 single-slider d-flex align-items-center" style="background-image: url(/static/assets/images/slider/slider-2.jpg);">
                        <div class="container">

                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h1 class="main-title">Man is What He Eats</h1>
                                <p>━ Ludwig Feuerbach</p>
                                <a id="btn-sign" href="{% url 'main:register' %}" class="btn btn-primary btn-hover-secondary">Sign Up</a>
                            </div>
                            <!-- Slider Content End -->

                        </div>
                    </div>
                    <!-- Single Slider End -->

                    <!-- Single Slider Start -->
                    <div class="swiper-slide animation-style-01 single-slider d-flex align-items-center" style="background-image: url(/static/assets/images/slider/slider-3.jpg);">
                        <div class="container">

                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h1 class="main-title">Good food ends with good talk</h1>
                                <p>━ Jules Renard</p>
                                <a id="btn-sign" href="{% url 'main:register' %}" class="btn btn-primary btn-hover-secondary">Sign Up</a>
                            </div>
                            <!-- Slider Content End -->

                        </div>
                    </div>
                    <!-- Single Slider End -->
                </div>
            </div>
        </div>
        <!-- Slider Section End -->
        {% endif %}

        <!-- Features Section Start -->
        <div class="section section-padding-02">
            <div class="container">
                <div class="features-wrapper">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <!-- Single Feature Start -->
                            <div class="single-feature">
                                <div class="feature-icon">
                                    <span><i class="flaticon-lunges"></i></span>
                                </div>
                                <div class="feature-content">
                                    <h4 class="title"><a href="{% url 'food_rec:show_all_food' %}">Food Recommendation</a></h4>
                                    <p>Are these foods into your liking?</p>
                                    <a href="{% url 'food_rec:show_all_food' %}" class="arrow"><i class="icofont-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- Single Feature End -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Single Feature Start -->
                            <div class="single-feature active">
                                <div class="feature-icon">
                                    <span><i class="flaticon-lotus"></i></span>
                                </div>
                                <div class="feature-content">
                                    {% if user.is_authenticated %}
                                    <h4 class="title"><a href="{% url 'calorycalc:calorycalc' %}">CaloryCalc</a></h4>
                                    <p>How many calories have you consumed today?</p>
                                    <a href="{% url 'calorycalc:calorycalc' %}" class="arrow"><i class="icofont-long-arrow-right"></i></a>
                                    {% else %}
                                    <h4 class="title"><a href="{% url 'main:login' %}">CaloryCalc</a></h4>
                                    <p>How many calories have you consumed today?</p>
                                    <a href="{% url 'main:login' %}" class="arrow"><i class="icofont-long-arrow-right"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Single Feature End -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!-- Single Feature Start -->
                            <div class="single-feature">
                                <div class="feature-icon">
                                    <span><i class="flaticon-computer"></i></span>
                                </div>
                                <div class="feature-content">
                                    <h4 class="title"><a href="{% url 'article:article' %}">Articles</a></h4>
                                    <p>Up to date with the latest information on nutrition</p>
                                    <a href="{% url 'article:article' %}" class="arrow"><i class="icofont-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- Single Feature End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features Section End -->

        <!-- FAQ Section Start -->
        <div id="faq-sec" class="section section-padding">
            <div class="container">

                <!-- FAQ Wrapper Start -->
                <div class="faq-wrapper">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h6 class="sub-title">Frequently Asked Questions (FAQ)</h6>
                        <h2 class="main-title">You might find your questions here</h2>
                    </div>
                    <!-- Section Title End -->

                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <!-- FAQ Accordion Start -->
                            <div class="faq-accordion">

                                <div class="accordion" id="accordionFaq">
                                    <div class="accordion-item">
                                        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                            Apa saya harus membuat akun untuk menggunakan situs web ini?
                                        </button>
                                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>Pengguna tetap bisa mengakses situs web ini walau tidak membuat akun. Hanya saja, pengguna bisa menggunakan fitur tertentu, seperti CaloryCalc, jika pengguna mendaftarkan akun di Nutrack.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                            Bagaimana saya bisa menggunakan fitur "CaloryCalc"?
                                        </button>
                                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>Pengguna dapat mendaftarkan akun dan melakukan login di situs web Nutrack. Dengan begitu, pengguna sudah bisa menggunakan fitur CaloryCalc.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                            Apa yang dapat saya lakukan pada Food Recommendation?
                                        </button>
                                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>Pengguna dapat melakukan filtering rekomendasi makanan berdasarkan nama makanan dan rating-nya.</p>

                                                <p>Selain itu, pengguna juga bisa menambahkan rekomendasi makanan yang ingin pengguna bagikan ke khalayak.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                            Pada fitur "Articles", apakah saya hanya bisa membaca artikel?
                                        </button>
                                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>Tentu saja tidak. Selain membaca artikel, pengguna juga bisa menuliskan artikel yang berhubungan gizi dan diet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                                            Apakah saya dapat memberikan kritik dan saran kepada pengembang?
                                        </button>
                                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>Tentu saja bisa. Para pengunjung situs web Nutrack dapat memberikan masukkan kepada pengembang terkait pengalaman ketika mengunjungi situs web Nutrack.</p>

                                                <p>Segala kritik dan saran sangat kami harapkan guna peningkatan kualitas Nutrack.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- FAQ Accordion End -->
                        </div>
                    </div>

                </div>
                <!-- FAQ Wrapper End -->

            </div>
        </div>
        <!-- FAQ Section End -->

        <!-- Footer Start -->
        <div id="kaki-sec" class="section footer-section">

            <!-- Footer Widget Section Start -->
            <div class="footer-widget-section section-padding">

                <img class="shape-01 animation-rotate" src="{% static 'assets/images/shape/shape-9.png' %}" alt="Shape">

                <div class="container">

                    <!-- Footer Widget Wrapper Start -->
                    <div class="footer-widget-wrapper">
                        <div class="row">
                            <!-- Footer Widget Start -->
                            <div style="text-align: center;">
                                <h3 class="footer-widget-title">All Features</h3>

                                <ul class="widget-link">
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'calorycalc:calorycalc' %}">CaloryCalc</a></li>
                                    {% else %}
                                    <li><a href="{% url 'main:login' %}">CaloryCalc</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'food_rec:show_all_food' %}">Food Recommendation</a></li>
                                    <li><a href="{% url 'article:article' %}">Articles</a></li>
                                    <li><a href="{% url 'testimonies:show_testimonies' %}">Testimonial</a></li>
                                    <li><a href="{% url 'main:about' %}">Dive into us!</a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->
                        </div>
                    </div>
                    <!-- Footer Widget Wrapper End -->

                </div>

                <img class="shape-02 animation-rotate" src="{% static 'assets/images/shape/shape-9.png' %}" alt="Shape">

            </div>
            <!-- Footer Widget Section End -->

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="container">

                    <!-- Copyright Wrapper Start -->
                    <div class="copyright-wrapper">

                        <div class="copyright-text">
                            <p>&copy; 2022 <span> Nutrack </span> Made with <i class="icofont-heart-alt"></i>by <a href="https://github.com/nutrack" target="_blank">Kelompok F10 PTS PBP Semester Gasal, Tahun Ajaran 2022/2023</a></p>
                        </div>

                    </div>
                    <!-- Copyright Wrapper End -->

                </div>
            </div>
            <!-- Footer Copyright Section End -->

        </div>
        <!-- Footer End -->

        <!--Back To Start-->
        <a href="#" class="back-to-top">
            <i class="icofont-simple-up"></i>
        </a>
        <!--Back To End-->

    </div>

    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/video-playlist.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ajax-contact.js' %}"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="assets/js/plugins.min.js"></script> -->


    <!-- Main and Modal JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/modal.js' %}"></script>
    <script>
        function getCalc(){
            var temp_calc = 0
            $.getJSON("{% url 'main:calorycalc_json' %}", function(data){
                $(data).each(function(i, entry) {
                        temp_calc += entry.fields.calory
                    })
                    $("#get-cal").html(`${temp_calc} <span class="sub-title" style="color: orange;">cal</span>`)
            })
        };

        $(document).ready(function() {
            getCalc()
        });
    </script>

</body>
{% endblock content %}
</html>